
body {
	font-family: 'Londrina Shadow', cursive;
	text-align: center;
	/*background: image-url("sheri.jpg");
	background-size: cover;
	background-position: center;*/
}

h1 {
	font-family: 'Londrina Shadow', cursive;
	text-decoration: none;
	text-align: center;
}

.construction {
	font-family: 'Changa One', cursive;
	font-size: 2em;
	text-decoration: none;
}